<footer class="footer">
  <small>
    © 2014食安資料庫系統 by Eugene Chang
  </small>
  <nav>
    <ul>
      <li><%= link_to "關於",   '#' %></li>
      <li><%= link_to "連略我們", '#' %></li>
    </ul>
  </nav>
</footer>